.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  border: 2px solid white;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 30%;
  padding: 13px 30px 13px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #9abfc9;
}

#hue,
#luminosity {
  margin-bottom: 15px;
}

#width,
#height {
  margin-bottom: 15px;
}
